{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix := and $logoImage $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<a class="logo__link" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }} rel="home">
			{{ with $logoImage -}}
				<div class="logo__item logo__imagebox">
					<img class="logo__img" src="{{ . | relURL }}">
				</div>
			{{- end -}}
			{{ with $logoTitle -}}
				<div class="logo__item logo__text">
					<div class="logo__title">{{ . }}</div>
				</div>
			{{- end }}
		</a>
    {{- if .Site.Menus.main }}
    <ul class="logo__item logo__item_r logo__text">
    {{- range .Site.Menus.main }}
    {{- if .Name }}
    <li>
    <a href="{{ .URL }}">
    <div>
      <div class="logo__title_fr">{{ .Name }}</div>
    </div>
    </a>
    </li>
    {{- end }}
    {{- end }}
    </ul>
    {{- end }}
	</div>
{{- end }}
